#logoimg{
    height:3rem;
    margin-left:0.7rem;
}
.navitems{
    margin-right:2rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
#nav{
    display:flex;
    list-style: none;
    /* align-items: center; */
    color:white;
    background-color: #222327;
    font-size: 19.5px;
    padding:0 12px
}
#nav li:hover{
    color:#29fd53;
}
#nav li:active{
    color:rgb(14, 184, 14);
}
#websitename{
    position: absolute;
    left:50%;
    top:0.5rem;
    font-size: 30px;
    transform: translateX(-50%);
    color:#29fd53;
    animation-name:magic;
    animation-duration:0.7s;
    animation-iteration-count: infinite;
    letter-spacing:1px;
}
@keyframes magic {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
#invisible{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    top:7rem;
    border:2px solid grey;
    width:13rem;
    height:8rem;
    margin:auto;
    border-radius:15px;
    box-shadow:1px 1px 7px black; 
}
#group{
    display:flex;
    justify-content:center;
}
#rating{
    text-align:center;
    color:purple;
}
#coderating{
    text-align:center;
    color:magenta;
    font-weight:bold;
}
#codename{
    text-align:center;
    color:magenta;
    font-weight: bold;
}
#two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:0.5rem;
}