.option{
    padding:10px 10px;
    font-size:17px;
    margin-right:1rem;
    margin-bottom:1rem;
    background-color:#29fd53;
    width:5rem;
    position:relative;
    top:9rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
.first{
    display:flex;
    justify-content:center;
}