*{
    padding:0;
    margin:0;
}
#innercontainer{

    border:2px solid black;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.747);
    width: 90vw;
    margin-bottom:3rem;
}
#inner{
    display: flex;
    position: relative;
    top:10rem;
    justify-content: center;
    /* margin-bottom: 2rem; */
    /* overflow: hidden; */
}
.list1{
    color:black !important;
    font-weight: 1000;
    font-size:20px;
    border-bottom: 1px solid black;
}
.list{
    color:grey;
    text-align: center;
    font-size: 18px;
    height: 3rem;
    display: flex;
    flex-direction: row;
}
.elements0{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:12vw;
    height: 3rem;
    /* border:1px solid orange; */
    /* background-color: pink; */
}
.elements1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
    width:25vw;
    height: 3rem;
    /* border:1px solid orange; */
    /* background-color: pink; */
}
.elements2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
    width:15vw;
    height: 3rem;
    /* border:1px solid orange; */
    /* background-color: pink; */
}
.elements3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
    width:14vw;
    height: 3rem;
    /* border:1px solid orange; */
    /* background-color: pink; */
}
.elements4{
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: inline-block; */
    width:23.5vw;
    height: 3rem;
    /* border:1px solid orange; */
    /* background-color: pink; */
}
/* .elements5{
    display: inline-block;
    width:25vw;
    height: 3rem;
    border:1px solid orange;
    /* background-color: pink; 
} */

#space{
    height:0.7rem;
}
footer{
    /* position:relative;
    top:3rem; */
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color:#222327;
    font-size:18px;
    color:white;
    position:relative;
    top:8.5rem;
}